In [9]:
import pandas as pd


lista_csvs = [1, 2, 3, 4, 5, 6, 7, 8]

dfs = []

for element in lista_csvs:
    df_ratings = pd.read_csv(f"../Datasets/ratings/{element}.csv") # Lee el archivo CSV correspondiente
    dfs.append(df_ratings) # Agrega el dataframe a una lista de dataframes

result = pd.concat(dfs, ignore_index=True) # Concatena todos los dataframes en uno solo, ignorando los Ã­ndices originales

In [10]:

df_ratings.head(10)

   userId  rating   timestamp movieId
0  108422     4.5  1350689762  as1399
1  108422     4.0  1350341401  as6724
2  108422     5.0  1350689691   ns512
3  108422     4.5  1350341088  ns7444
4  108422     4.5  1350689619  as2230
5  108422     5.0  1350341341  as8196
6  108422     4.0  1350689752  ns1326
7  108422     4.0  1350341119  as8569
8  108422     4.0  1350689747  hs2493
9  108422     4.5  1350689736  ns4456

# dropearia timestamp; agruparia de la mejot manera por movie id el resto de los campos y asi poder agregarle la info al dataframe_movies.